#title {
    display: flex;
    justify-content: center;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

button {
    margin: 15px;
}

.gameresults {
    background-color: bisque;
    margin-top: 30px;
}

#gamenumber {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;

}

#playerchoice {

}

#computerchoice {

}

#battleresult {
    margin-top: 5px;
    font-size: large;
    font-weight: bold;

}

#overallwinner {
    margin-top: 10px;
    font-weight: bold;

}

#winnerannouncement {
    background-color: bisque;
    margin-top: 30px;
    height: 300px;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}